@model List<Product>
@{
    int pageIndex = (int)ViewBag.PageIndex;
    int totalPages = (int)ViewBag.TotalPages;

    string search = (string)ViewData["Search"];
   
}

<div class="container py-4">
    <div class="row mb-5">
        <div class="col">
            <h2 class="pb-4 text-center"> Newest Books</h2>
        </div>
       
        <div class="col">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" name="search" value="@search" placeholder="Search by name or Author" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
   
    <div class="row mb-5 g-3">
        @foreach (var product in ViewBag.Products)
        {
            <div class="col-lg-3 col-md-6">
                <div class="rounded border shodow p-3 text-center h-100">
                    <img src="/Products/@product.ImageFileName" class="img-fluid" alt="..." style="height:180px" />
                    <hr />
                    <h5 class="py-2">@product.Name</h5>
                    <p>
                        Author: @product.Author, Category: @product.Category
                    </p>
                    <h4 class="mb-5">@(product.Price)</h4>

                    <a class="btn btn-primary btn-sm mb-2" asp-controller="Store" asp-action="Details"
                       asp-route-id="@product.Id" role="button">Details</a>
                    <button type="button" class="btn btn-warning btn-sm mb-2" onclick="addToCart(this, @product.Id)">
                        Add to Cart <i class="bi bi-cart4"></i>
                    </button>
                </div>
            </div>
        }
    </div>
</div>

<nav>
    <ul class="pagination">
        @for (int i = 1; i <= totalPages; i++)
        {
            string active = "";
            if (i == pageIndex) active = "active";
            <li class="page-item @active">
                <a class="page-link" asp-route-pageIndex="@i" >@i</a>
            </li>
        }

    </ul>
</nav>
